<h1 class="text-center text-danger"><%= @album.title %></h1>

<p class="text-center text-dark"><%= @album.body %></p>

<p><%=  @album.published %></p>

<div class="row container-fluid">
   <% @album.images.each do|image| %>
      <div class="col-4 g-4 ">
        <div class=" card h-100 w-100 ">
          <img src="<%=url_for(image) %> " type="<%= image.content_type %>" class="h-75 w-100">
          <div class="card-body mx-auto">
          
            <h5 class="btn  btn-danger"><%= link_to "DESTROY" ,remove_image_album_path(@album,image_id: image.id), data:{
             turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-light text-decoration-none "%>
            </div>
        </div>
      </div>
    <% end %>
  </div>
<h5 class="btn btn-danger mt-5 "><%= link_to "EDIT",edit_album_path(@album),class:"text-light text-decoration-none" %></h5>

  


