<div class=" container-fluid d-flex justify-content-center ">
<%= form_with(model: @album, local:true)do |form| %>
<div class=" container form_border">
  <div class="fs-5" >
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @album.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div><br>

  <div class="fs-5">
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% @album.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div><br>

   <div class="field fs-5">
    <%= form.label :published%>
    <%= form.check_box :published%> 
      <br />
   </div><br>

  <div class="fs-5">
    <%= form.label :cover_image %><br>
    <%= form.file_field :cover_image  %>
  </div><br>

  <div class="fs-5">
    <%= form.label :images %><br>
    <%= form.file_field :images ,multiple: true, direct_upload: true %>
  </div><br>

  <div class= "form-group">
    <%= form.label :tag_ids, 'Tags' %>
    <%= form.select :tag_ids, options_from_collection_for_select(Tag.order(:name), :id, :name, form.object.tag_ids), { include_blank: true }, { multiple: true } %>
  <div>
     <%= form.submit %>
  </div>
 
  
<% end %>
</div>
</div>
